#first-page #university      {font-size: 1.7rem;}
#first-page #faculty         {font-size: 1.5rem;}
#first-page #title #main     {font-size: 2.2rem;}
#first-page #title #subtitle {font-size: 1.5rem;}
#first-page #author          {font-size: 1.3rem;}
#first-page #supervisor      {font-size: 1.3rem;}
#first-page footer           {font-size: 1.3rem;}


#first-page {
    text-align: center;
    padding-top: 5rem;
    page-break-after: always;
}

#first-page h1 {
    text-align: center;
    page-break-before: avoid;
    page-break-after: avoid;
    margin-top: 1rem;
    margin-bottom: 0;
}

#first-page h2 {
    font-weight: normal;
    text-align: center;
    page-break-before: avoid;
    page-break-after: avoid;
    margin-top: 1rem;
    margin-bottom: 0;
}

#first-page header {
    margin-top: 0;
}

#first-page #title {
    margin-top: 18rem;
}

#first-page #supervisor {
    margin-top: 16rem;
    text-align: left;
    padding-left: 40%;
    word-break: keep-all;
}

#first-page footer {
    page-break-before: avoid;
    margin-top: 16rem;
}
