---
permalink: /
---

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Proces szkolenia astronautów do długotrwałych lotów kosmicznych</title>
    <meta name="author" content="Matt Harasymczuk">
    <meta name="description" content="Wyższa Szkoła Oficerska Sił Powietrznych Katedra Nawigacji, praca magisterska - Proces przygotownia astronautów do długoterminowych lotów kosmicznych">

    <link rel="cannonical" href="http://astromatt.space">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/png" href="img/astronaut-pin.png" />
</head>
<body>
    <section id="first-page">
        <header>
            <h1>Wyższa Szkoła Oficerska Sił Powietrznych</h1>
            <h2>Katedra Nawigacji</h2>
        </header>

        <div id="title">
            <aside>Mateusz Harasymczuk</aside>
            <h1>Proces szkolenia astronautów do długotrwałych lotów kosmicznych</h1>
            <h2>Astronaut training process for long duration space flights</h2>
        </div>

        <div id="about">
            <p>Praca magisterska napisana pod kierownictwem</p>
            <p>prof. dr hab. inż. Janusz Zieliński</p>
        </div>

        <footer>Dęblin 2016<footer>
    </section>

    <section id="content">

        {% for page in site.pages %}
            {% if page.categories == "chapter" %}

                <article class="chapter" id="{{ page.name }}">
                    {{ page.content |markdownify }}
                </article>

            {% endif %}
        {% endfor %}

        <article class="appendix">
            <h1>Słownik pojęć</h1>
            <table id="dictionary">
            {% for entry in site.data.dictionary %}
                <tr>
                    <td class="abbr">{{ entry.word }}</td>
                    <td class="definition">{{ entry.definition }}</td>
                </tr>
            {% endfor %}
            </table>
        </article>

        <article class="appendix">
            <h1>Bibliografia</h1>
            <table id="bibliography">
            {% for entry in site.data.bibliography %}
                <tr>
                    {% assign title = entry.title %}
                    <td>{% bibliography title %}</td>
                    <td>{{ entry.author }}, <i>{{ entry.title }}</i>, {{ entry.publisher }}, {{ entry.date }}</td>
                </tr>
            {% endfor %}
            <table>
        </article>

    </section>
<body>
<html>
