<!DOCTYPE html>
<html lang="pl">
<head>
	{% if analytics_code %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_code }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', '{{ analytics_code }}');
		</script>
	{% endif %}

    <meta charset="utf-8">

    {{ metatags }}

    <title>Selekcja i proces szkolenia astronautów do długotrwałych lotów i spacerów kosmicznych</title>
    <meta name="author" content="Matt Harasymczuk">
    <meta name="description" content="Wyższa Szkoła Oficerska Sił Powietrznych - Wydzial Lotnictwa - praca magisterska - Analiza procesu selekcji, przygotowania do misji oraz treningu EVA w wybranych agencjach kosmicznych w celu zaproponowania programu szkolenia polskiego astronauty.">

    <link rel="cannonical" href="http://thesis.astromatt.space">
	<link rel="stylesheet" href="{{ pathto('_static/first-page.css', 1) }}" type="text/css" />
	<link rel="stylesheet" href="{{ pathto('_static/content.css', 1) }}" type="text/css" />
	<link rel="stylesheet" href="{{ pathto('_static/bibliography.css', 1) }}" type="text/css" />
	<link rel="stylesheet" href="{{ pathto('_static/print.css', 1) }}" type="text/css" media="print" />
    <link rel="icon" type="image/png" href="{{ pathto('_static/astronaut-pin.png', 1) }}" />
</head>
<body>
    <section id="first-page">
        <header>
            <h1 id="university">WYŻSZA SZKOŁA OFICERSKA SIŁ POWIETRZNYCH</h1>
            <h2 id="faculty">WYDZIAŁ LOTNICTWA</h2>
        </header>

        <div id="main">
            <img src="{{ pathto('_static/wsosp-logo.png', 1) }}">
            <h1 id="thesis">PRACA MAGISTERSKA</h1>
            <h2 id="title">Analiza procesu selekcji, przygotowania do misji oraz treningu EVA w wybranych agencjach kosmicznych w celu zaproponowania programu szkolenia polskiego astronauty.</h2>
        </div>

        <div id="author">
            <p id="first-author">Mateusz Harasymczuk<br>nr albumu 3094</p>
            <p id="supervisor">Promotor pracy<br>prof. dr hab. inż. płk. rez. Marek Grzegorzewski</p>
            <p id="proofreading">Promotor pomocniczy pracy<br>gen. bryg. pil. Mirosław Hermaszewski, kosmonauta Soyuz-30</p>
        </div>

        <footer>Dęblin 2018</footer>
    </section>

    <section id="content">
        {% block body %} {% endblock %}
    </section>
</body>

<html>
