<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Astronaut Training Process for Long Duration Space Flights</title>
    <meta name="author" content="Matt Harasymczuk">
    <meta name="description" content="Polish Air Force Academy - Masters Thesis - Astronaut Training Process for Long Duration Space Flights and Extravehicular Activity - Matt Harasymczuk">

    <link rel="cannonical" href="http://astromatt.space">
    <link rel="stylesheet" href="/css/thesis.css">
    <link rel="icon" type="image/png" href="img/astronaut-pin.png" />
</head>
<body>
    <section id="first-page">
        <header>
            <h1>Polish Air Force Academy</h1>
            <h2>Navigation and Guidance Systems Department</h2>
        </header>

        <div id="title">
            <aside>Matt Harasymczuk</aside>
            <h1>Astronaut Training Process for Long Duration Space Flights and Extravehicular Activity</h1>
        </div>

        <div id="about">
            <p>Masters thesis lead by</p>
            <p>Janusz Zielinski, Ph.D. Eng.</p>
        </div>

        <footer>Deblin, Poland 2016<footer>
    </section>

    <section id="content">
        {{ content }}
    </section>
<body>
<html>
