<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Proces szkolenia astronautów do długotrwałych lotów i spacerów kosmicznych</title>
    <meta name="author" content="Matt Harasymczuk">
    <meta name="description" content="Wyższa Szkoła Oficerska Sił Powietrznych Katedra Nawigacji - praca magisterska - Proces przygotownia astronautów do długoterminowych lotów i spacerów kosmicznych - Mateusz Harasymczuk">

    <link rel="cannonical" href="http://astromatt.space">
    <link rel="stylesheet" href="/css/thesis.css">
    <link rel="icon" type="image/png" href="img/astronaut-pin.png" />

    <script>Bibliography = {{ site.data.bibliography | jsonify }};</script>
</head>
<body>
    <section id="first-page">
        <header>
            <h1>Wyższa Szkoła Oficerska Sił Powietrznych</h1>
            <h2>Katedra Nawigacji</h2>
        </header>

        <div id="title">
            <aside>Mateusz Harasymczuk</aside>
            <h1>Proces szkolenia astronautów do długotrwałych lotów i spacerów kosmicznych</h1>
            <h2>Astronaut training process for long duration space flights and Extravehicular Activity</h2>
        </div>

        <div id="about">
            <p>Praca magisterska napisana pod kierownictwem</p>
            <p>prof. dr hab. inż. Janusz Zieliński</p>
        </div>

        <footer>Dęblin {{ "now" | date: "%Y" }}<footer>
    </section>

    <section id="content">
        {{ content }}

        <h1>Bibliografia</h1>
        <table id="bibliography">
            {% for entry in site.data.bibliography.references %}
                <tr>
                    <th>[@{{ entry.id }}]</th>
                    <td>
                        {% for name in entry.author %}
                            {{ name.family }} {{ name.given }},
                        {% endfor %}
                        <i>{{ entry.title }}</i> ({{ entry.issued }}), {{ entry.publisher }},

                        {% if entry.URL %}
                            <a href="{{ entry.URL }}">{{ entry.URL }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
</body>
<script src="/js/bibliography.js"></script>
<html>
