<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Astronaut Training Process for Long Duration Space Flights and Extravehicular Activity</title>
    <meta name="author" content="Matt Harasymczuk">
    <meta name="description" content="Polish Air Force Academy - Masters Thesis - Astronaut Training Process for Long Duration Space Flights and Extravehicular Activity - Matt Harasymczuk">

    <link rel="cannonical" href="http://astromatt.space">
    <link rel="stylesheet" href="/css/thesis.css">
    <link rel="icon" type="image/png" href="img/astronaut-pin.png" />

    <script>Bibliography = {{ site.data.bibliography | jsonify }};</script>
</head>
<body>
    <section id="first-page">
        <header>
            <h1>Polish Air Force Academy</h1>
            <h2>Navigation and Guidance Systems Department</h2>
        </header>

        <div id="title">
            <aside>Matt Harasymczuk</aside>
            <h1>Astronaut Training Process for Long Duration Space Flights and Extravehicular Activity</h1>
        </div>

        <div id="about">
            <p>Masters thesis lead by</p>
            <p>Janusz Zielinski, Ph.D. Eng.</p>
        </div>

        <footer>Deblin, Poland {{ "now" | date: "%Y" }}<footer>
    </section>

    <section id="content">
        {{ content }}

        <h1>Bibliography</h1>
        <table id="bibliography">
            {% for entry in site.data.bibliography.references %}
                <tr>
                    <th>[@{{ entry.id }}]</th>
                    <td>
                        {% for name in entry.author %}
                            {{ name.family }} {{ name.given }},
                        {% endfor %}
                        <i>{{ entry.title }}</i> ({{ entry.issued }}), {{ entry.publisher }},

                        {% if entry.URL %}
                            <a href="{{ entry.URL }}">{{ entry.URL }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
</body>
<script src="/js/bibliography.js"></script>
<html>
